name: Deploy to Development
on:
  push:
    branches:
      - dev
  workflow_dispatch:

jobs:
  deploy:
    uses: ./.github/workflows/shared-oss-deploy.yml
    with:
      environment: 'development'
      site_url: 'https://docs-dev.coscene.cn'
    secrets:
      OSS_ACCESS_KEY_ID: ${{ secrets.OSS_ACCESS_KEY_ID }}
      OSS_ACCESS_KEY_SECRET: ${{ secrets.OSS_ACCESS_KEY_SECRET }}
      OSS_TARGET_BUCKET: ${{ secrets.OSS_TARGET_BUCKET_DEV }}
      FEISHU_BOT_WEBHOOK_URL: ${{ secrets.FEISHU_BOT_WEBHOOK_URL_RHODE_ISLAND }}
